In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/rating_small_dataset.csv'
rating_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/rating_small_dataset.csv')
rating_df.head()

   userId  movieId  naver_code  rating   timestamp
0       1       31       17504     5.0  1260759144
1       1     1061       17766     6.0  1260759182
2       1     1343       11082     4.0  1260759131
3       1     2193       10619     4.0  1260759198
4       1     2294       19477     4.0  1260759108

In [ ]:
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_dataset.csv'
movie_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_dataset.csv')
movie_df.head(3)

,movieId,naver_code,title,title_kor,genres,keyword,director,cast,director_kor,cast_kor,...,naver_user_participate,naver_critics_rate,naver_critics_participate,nation,release_date,running_time,age,story,poster_url,url
0,1,17153,Toy Story,토이 스토리,Adventure Animation Children Comedy Fantasy,"jealousy,toy,boy,friendship,friends,rivalry,bo...",John Lasseter,"Tom Hanks,Tim Allen,Don Rickles",존 라세터,"톰 행크스, 팀 알렌",...,1393,0.0,0,미국,2010.05.05 1995.12.30,77분,"전체 관람가, G",우디(톰 행크스 목소리 분)는 6살짜리 남자 아이 앤디가 가장 아끼는 카우보이 인형...,https://movie-phinf.pstatic.net/20111222_26/13...,https://movie.naver.com/movie/bi/mi/basic.nave...
1,2,17440,Jumanji,쥬만지,Adventure Children Fantasy,"board game,disappearance,based on children's b...",Joe Johnston,"Robin Williams,Jonathan Hyde,Kirsten Dunst",조 존스톤,"로빈 윌리엄스, 커스틴 던스트, 데이빗 알란 그리어",...,1591,0.0,0,미국,1996.01.20,104분,"전체 관람가, PG",1969년. 커다란 공장을 운영하는 아버지를 둔 12세 소년 알랜 패리쉬(Young...,https://movie-phinf.pstatic.net/20111223_209/1...,https://movie.naver.com/movie/bi/mi/basic.nave...
2,4,17798,Waiting To Exhale,사랑을 기다리며,Comedy Drama Romance,"based on novel,interracial relationship,single...",Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine",포레스트 휘태커,"휘트니 휴스턴, 안젤라 바셋, 로레타 드바인",...,17,0.0,0,미국,1996.04.05,127분,"청소년 관람불가, R",사반나 잭슨(Savannah Jackson: 휘트니 휴스턴 분)은 TV 프로듀서로서...,https://movie-phinf.pstatic.net/20111221_192/1...,https://movie.naver.com/movie/bi/mi/basic.nave...

In [ ]:
rating_df = rating_df[['userId', 'movieId', 'rating']]
rating_matrix = rating_df.pivot_table('rating', index='userId', columns='movieId')
rating_matrix.head()

movieId,1,2,4,5,6,7,9,10,12,14,...,140816,141668,141688,142422,142448,142536,142997,143385,146309,160440
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rating_title = pd.merge(rating_df, movie_df, on='movieId')
rating_matrix = rating_title.pivot_table('rating', index='userId', columns='title')
rating_matrix = rating_matrix.fillna(0)
rating_matrix.head()

title,10 Items Or Less,10 Years,101 Dalmatians,102 Dalmatians,11:14,12 Years a Slave,127 Hours,13 Going On 30,13 Tzameti,1408,...,XXx,Yes Man,You Can Count On Me,You Will Meet A Tall Dark Stranger,You're Next,You've Got Mail,Zero Dark Thirty,Zodiac,eXistenZ,happy endings
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [ ]:
R = rating_matrix.values
R

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0 
  full_pred_matrix = np.dot(P, Q.T) 
  
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros] 
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros] 
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind] 
  
  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind] 
  
  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) 
  rmse = np.sqrt(mse) 
  
  return rmse

In [ ]:
def matrix_factorization(R, K, steps, learning_rate, r_lambda): 
  num_users, num_items = R.shape 
  np.random.seed(1) 
  P = np.random.normal(scale=1./K, size=(num_users, K)) 
  Q = np.random.normal(scale=1./K, size=(num_items, K)) 
  
  break_count = 0 
  
  non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0 ] 
  
  for step in range(steps): 
    for i, j, r in non_zeros: 
      eij = r - np.dot(P[i, :], Q[j, :].T) 
      P[i,:] = P[i,:] + learning_rate*(eij * Q[j, :] - r_lambda*P[i,:]) 
      Q[j,:] = Q[j,:] + learning_rate*(eij * P[i, :] - r_lambda*Q[j,:]) 
    
    rmse = get_rmse(R, P, Q, non_zeros) 
    if (step % 10) == 0 : 
      print("### iteration step : ", step," rmse : ", rmse) 
      
  return P, Q

In [ ]:
# K=50, steps=200, learning_rate=0.005, r_lambda = 0.03 => 0.2정도
P, Q = matrix_factorization(rating_matrix.values, K=50, steps=50, learning_rate=0.001, r_lambda = 0.05)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  7.232536643874438
### iteration step :  10  rmse :  4.140560512197667
### iteration step :  20  rmse :  2.271587826649195
### iteration step :  30  rmse :  1.9244126597279414
### iteration step :  40  rmse :  1.7874208532769151

In [ ]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index= rating_matrix.index, columns = rating_matrix.columns) 
ratings_pred_matrix.head()

title,10 Items Or Less,10 Years,101 Dalmatians,102 Dalmatians,11:14,12 Years a Slave,127 Hours,13 Going On 30,13 Tzameti,1408,...,XXx,Yes Man,You Can Count On Me,You Will Meet A Tall Dark Stranger,You're Next,You've Got Mail,Zero Dark Thirty,Zodiac,eXistenZ,happy endings
userId,,,,,,,,,,,,,,,,,,,,,
1,1.018009,0.947151,2.601022,1.687460,1.756616,3.254782,2.955026,2.490192,1.695891,2.815756,...,2.241600,2.693454,3.546739,1.449988,0.757655,2.786659,3.041678,3.297834,2.623187,1.955585
2,2.197932,2.035673,5.834226,3.715923,3.842959,7.154992,6.517626,5.520942,3.754940,6.190600,...,4.952163,5.906072,7.810232,3.138777,1.686638,6.266727,6.647734,7.237861,5.737406,4.276960
3,2.299841,2.134298,5.764129,3.749298,3.930283,7.311288,6.633228,5.554013,3.816228,6.313126,...,4.979541,6.035404,7.936072,3.268700,1.712403,6.083050,6.840511,7.376758,5.826815,4.386480
4,2.687302,2.508315,7.056115,4.528612,4.688055,8.694637,7.934982,6.721294,4.561692,7.537400,...,6.030769,7.210353,9.512962,3.856548,2.038467,7.575397,8.100986,8.819286,7.009757,5.236611
5,2.639358,2.479816,6.771706,4.384660,4.585077,8.507106,7.738262,6.528195,4.442290,7.348143,...,5.842746,7.051729,9.271087,3.793248,1.982722,7.265270,7.952829,8.595484,6.820485,5.098384

In [ ]:
def get_unseen_movies(ratings_matrix, userId):  
  user_rating = ratings_matrix.loc[userId,:] 
  already_seen = user_rating[ user_rating > 0].index.tolist() 
  movies_list = ratings_matrix.columns.tolist()
  unseen_list = [ movie for movie in movies_list if movie not in already_seen] 
  return unseen_list
  
  
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):  
  recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n] 
  return recomm_movies

In [ ]:
# def get_seen_movies(ratings_matrix, userId):  
#   user_rating = ratings_matrix.loc[userId,:] 
#   already_seen = user_rating[ user_rating > 0].index.tolist() 
#   return already_seen

# pd.DataFrame(get_seen_movies(rating_matrix, 213))

In [ ]:
unseen_list = get_unseen_movies(rating_matrix, 213) 
result_df = recomm_movie_by_userid(ratings_pred_matrix, 213, unseen_list, top_n=5)
result_df = pd.DataFrame(data=result_df.values,index=result_df.index,columns=['pred_score'])
result_df

                  pred_score
title
Pulp Fiction        8.039209
Big Night           8.030237
Fight Club          7.831052
Captain Phillips    7.783503
Moon                7.783059

In [ ]:
result_df.reset_index(drop=False, inplace=True)
result_df.reset_index(drop=False, inplace=True)
result_df.rename(columns={'index':'rank'}, inplace=True)
result_df['rank'] = result_df['rank'] + 1
result_df

   rank             title  pred_score
0     1      Pulp Fiction    8.039209
1     2         Big Night    8.030237
2     3        Fight Club    7.831052
3     4  Captain Phillips    7.783503
4     5              Moon    7.783059

In [ ]:
recomm_movies = pd.merge(result_df, movie_df, how = 'inner', on=['title'])
recomm_movies = recomm_movies[['rank', 'movieId', 'title', 'title_kor', 'pred_score', 'poster_url']]
recomm_movies

,rank,movieId,title,title_kor,pred_score,poster_url
0,1,296,Pulp Fiction,펄프 픽션,8.039209,https://movie-phinf.pstatic.net/20111221_33/13...
1,2,994,Big Night,빅 나이트,8.030237,https://movie-phinf.pstatic.net/20111222_87/13...
2,3,2959,Fight Club,파이트 클럽,7.831052,https://movie-phinf.pstatic.net/20161013_298/1...
3,4,105504,Captain Phillips,캡틴 필립스,7.783503,https://movie-phinf.pstatic.net/20131010_124/1...
4,5,68237,Moon,더 문,7.783059,https://movie-phinf.pstatic.net/20111223_87/13...

In [ ]:
recomm_movies.to_csv("Latent Factor Collaborative Filtering_list.csv", mode='w', index=False)

### end of file